<!DOCTYPE html>
<html lang="en">
<meta charset =utf-8>
	
<style>

p {	
	font: Comic Sans MS; 
	background:   black;
	color: yellow;
	font-size: large;
	text-align:  center;
	font-weight: bold;
}

	
</style>

</html>

