<!DOCTYPE html>
<html lang="en">
<meta charset ="utf-8">

.img {
    display: block;
    margin-left: auto;
    margin-left: auto;
    margin-bottom: 300px;
    margin-top: auto;
}
h1 {
    font-size: 100px;
    color: rgba(0, 0, 0, 0.5)
    font-family: 'Roboto', sans-serif;
}
#home {
    display: center;
    
}